@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --clr-primary-500: #ff9900;
  --clr-primary-600: #eb8d00;
  --clr-outline-200: #e5e7eb;
  --clr-outline-300: #d1d5db;
  --clr-outline-500: #6b7280;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html {
  font-family: "Poppins", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

a {
  color: var(--txt-primary);
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS RESET */

/* Grid */
.grid {
  display: grid;
}

.grid-center {
  place-items: center;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Header + Navigation bar */
header {
  padding: 16px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 16px;

  & h2 {
    display: flex;
  }

  nav {
    display: flex;
    align-items: center;
  }

  & ul {
    display: flex;
    gap: 28px;
    margin-right: 50px;
  }
}

.button-box {
  display: flex;
  gap: 14px;
}

/* Button variants */
button {
  padding: 10px 24px;
  border: none;
  border-radius: 4px;

  &:hover {
    transform: translateY(-2px);
  }
}

button[variant="primary"] {
  background-color: var(--clr-primary-500);
  color: white;
  font-weight: 700;

  &:hover {
    background-color: var(--clr-primary-600);
    animation: animateUp 250ms linear;
  }
}

button[variant="outline"] {
  background-color: transparent;
  border: 1px solid var(--clr-outline-200);
  font-weight: 500;

  &:hover {
    background-color: var(--clr-outline-300);
  }
}

button[variant="underline"] {
  background-color: transparent;
  border: none;
  color: var(--clr-primary-500);
  font-weight: 500;
  text-decoration: underline;
}

@keyframes animateUp {
  0% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

/* Titles */
.heading-primary {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 30px;
}

.heading-secondary {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;
  margin-top: 8px;
}

/* Hero Section */
.section-hero {
  margin-top: 24px;
  margin-bottom: 124px;

  & p {
    font-size: 18px;
    margin-bottom: 34px;
    line-height: 1.8;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-image::before {
  content: "";
  background-image: url(/images/blob.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 100%;
  height: 100%;
}

/* Features section */
.section-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-feature h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 100px;
}

.feature-cards {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 64px;
  width: 100%;
}

.feature-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}

/* Validation Section */
.section-validation {
  margin-top: 128px;
}

.validation-text {
  & p {
    margin-bottom: 24px;
  }

  & h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
  }
}

/* Managers Section */
.manager-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-top: 26px;

  & div {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

/* Markgeters Section */
.section-marketer {
  margin: 128px auto;
}

.marketers {
  h3 {
    margin-bottom: 16px;
  }

  & p {
    margin-bottom: 24px;
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;

  max-width: 1400px;
  margin: 120px auto;

  & input {
    padding: 8px;
    border: 1px solid hsla(211, 44%, 82%, 49.69%);
    border-radius: 4px;
  }
}

footer .line {
  border-top: 1px solid hsla(211, 44%, 82%, 49.69%);
  margin-bottom: 128px;
  width: 100%;
}

footer .footer-list {
  display: flex;
  justify-content: space-between;
}

footer .newsletter {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

footer .box {
  display: flex;
  justify-content: space-between;
  line-height: 2;
}

footer footer [role="list"] {
  display: flex;
  flex-direction: column;
}
